{% extends "layout.html" %}

{% block body %}
<div class="bounds circle--page">
  <form id="form" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
    {% endfor %}
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        <input type="submit" class="button button-primary icon-on-left" value="Save Changes">
      </div>
    </div>

    <div class="grid-70">
      <p class="circle--input--h1">{{ userprofile.user.username }}</p>
      <div class="circle--article--body">
        {{ form.bio }}
      </div>

      <h2>Past Projects</h2>
      {% if userprofile.projects.get %}
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
          {% for project in userprofile.projects.get %}
          <tr class="clickable-row" data-href="project.html">
            <td>
              <h3>{{ project.name }}</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ project.my_title }}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No past projects</p>
      {% endif %}
    </div>

    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
        <div class="circle--primary--avatar">
          <a class="button">
            Upload Photo
            {{ form.pfp }}
          </a>
        </div>
      </div>

      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        <ul class="circle--clone--list">
          {% if userprofile.skills and userprofile.skills|length > 0 %}
          {% for skill in userprofile.skills %}
          <li class="circle--clone--clonable">
            <input class="skill-field" type="text" placeholder="Skill" value="{{ skill }}" />
            <a class="circle--clone--add">Add Skill</a>
            <a class="circle--clone--remove">Remove</a>
          </li>
          {% endfor %}
          {% else %}
          <li class="circle--clone--clonable">
            <input class="skill-field" type="text" placeholder="Skill" />
            <a class="circle--clone--add">Add Skill</a>
            <a class="circle--clone--remove">Remove</a>
          </li>
          {% endif %}
          <li>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>

<script>
  $("#form").submit(function () {
    $("#id_skills_internal").val(Array.prototype.map.call(document.getElementsByClassName("skill-field"), function (val) {
      return val.value;
    }).join(',') || "");
  });
</script>
{% endblock %}
