{% extends "layout.html" %}
{% load widget_tweaks %}

{% block body %}
  <div class="bounds circle--page circle--article">
    <form id="form", method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
      {% endfor %}  
        <div class="grid-70">
            <div class="circle--article--body">
              {% render_field form.title class+="circle--input--h1" placeholder="Project title" %}
              {% render_field form.description placeholder="Project description" %}
            </div>
      
            <div class="circle--project--positions">
              <h2>Positions</h2>
              {{ posForm.management_form }}
              {{ posForm.non_form_errors }}
              <ul class="circle--group--list circle--clone--list">
                {% for f in posForm %}
                  <li class="form-row">
                    {{ f.non_field_errors }}
                    {{ f.name.errors }}
                    {% render_field f.name class+="circle--input--h3 position-title" placeholder="Position Title" %}
                    {{ f.description.errors }}
                    {% render_field f.description placeholder="Position description..." %}
                    {{ f.length.errors }}
                    {% render_field f.length placeholder="X hours/week" %}
                    <a class="circle--clone--add">Add Position</a>
                    <a class="circle--clone--remove">Remove</a>  
                  </li>
                {% endfor %}
              </ul>
              <button type="submit" class="button button-primary">Save Project</button>
      
            </div>
          </div>
      
          <div class="grid-25 grid-push-5">
            <div class="circle--secondary--module">
              <h3>Project Timeline</h3>
              {{ form.timeline.errors }}
              {% render_field form.timeline class+="circle--textarea--input" placeholder="Time estimate" %}
            </div>
      
            <div class="circle--secondary--module">
              <h3>Applicant Requirements</h3>
              {% render_field form.requirements class+="circle--textarea--input" %}
            </div>
          </div>
    </form>
  </div>

  <script>
    $("#form").submit(function() {
      $("id_needs_internal").val(Array.prototype.map.call(document.getElementsByClassName("position-title"), function (val) {
        return val.value;
      }).join(',') || '')
    })
  </script>
  {% endblock body %}